[submodule "three20"]
	path = three20
	url = https://github.com/facebook/three20.git
[submodule "UIGlossyButton"]
	path = UIGlossyButton
	url = https://github.com/waterlou/UIGlossyButton.git
[submodule "TBHintView"]
	path = TBHintView
	url = https://github.com/touchbee/TBHintView.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "nimbus"]
	path = nimbus
	url = https://github.com/jverkoey/nimbus.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "KTPhotoBrowser"]
	path = KTPhotoBrowser
	url = https://github.com/kirbyt/KTPhotoBrowser.git
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/stig/json-framework.git
[submodule "GusUtils"]
	path = GusUtils
	url = https://github.com/gpambrozio/GusUtils.git
[submodule "AviaryIOSSDK"]
	path = AviaryIOSSDK
	url = https://github.com/AviaryInc/Mobile-Feather-SDK-for-iOS.git
[submodule "FWTPopover"]
	path = FWTPopover
	url = https://github.com/FutureWorkshops/FWTPopover.git
	ignore = dirty
[submodule "GPUImage"]
	path = GPUImage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "PullableView"]
	path = PullableView
	url = https://github.com/crocodella/PullableView.git
[submodule "MKStoreKit"]
	path = MKStoreKit
	url = https://github.com/wisespa/MKStoreKit.git
[submodule "JCGridMenu"]
	path = JCGridMenu
	url = https://github.com/wisespa/JCGridMenu.git
[submodule "ShareKit"]
	path = ShareKit
	url = https://github.com/ShareKit/ShareKit.git
[submodule "EEToolbarCenterButton"]
	path = EEToolbarCenterButton
	url = https://github.com/el-eleven/EEToolbarCenterButton.git
[submodule "GRAlertView"]
	path = GRAlertView
	url = git://github.com/goncz9/GRAlertView.git
[submodule "CMPopTipView"]
	path = CMPopTipView
	url = https://github.com/chrismiles/CMPopTipView.git
[submodule "UIDevice-with-UniqueIdentifier-for-iOS-5"]
	path = UIDevice-with-UniqueIdentifier-for-iOS-5
	url = https://github.com/gekitz/UIDevice-with-UniqueIdentifier-for-iOS-5.git
[submodule "MMMarkdown"]
	path = MMMarkdown
	url = https://github.com/mdiep/MMMarkdown.git
[submodule "NVUIGradientButton"]
	path = NVUIGradientButton
	url = git://github.com/nverinaud/NVUIGradientButton.git
[submodule "MJPopupViewController"]
	path = MJPopupViewController
	url = git://github.com/martinjuhasz/MJPopupViewController.git
[submodule "SVSegmentedControl"]
	path = SVSegmentedControl
	url = git://github.com/samvermette/SVSegmentedControl.git
[submodule "UIEffectDesignerView"]
	path = UIEffectDesignerView
	url = git://github.com/icanzilb/UIEffectDesignerView.git
[submodule "FXLabel"]
	path = FXLabel
	url = git://github.com/nicklockwood/FXLabel.git
[submodule "iCarousel"]
	path = iCarousel
	url = git://github.com/nicklockwood/iCarousel.git
[submodule "PlayHavenSDK"]
	path = PlayHavenSDK
	url = https://github.com/playhaven/sdk-ios.git
[submodule "cocos2d-iphone"]
	path = cocos2d-iphone
	url = git://github.com/cocos2d/cocos2d-iphone.git
